*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: aliceblue;
    background-image: url(poster.jpg);
    background-size: cover;
    text-align: center;  
    font-family: 'Josefin Sans', sans-serif;
}

header{
    font-size: 50px;
    background-image: url(abertura.jpg);
    margin: 25px;
    padding-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

img{
    gap: 20px;
    justify-content: center
    width: 200px;
    border-radius: 10px;
    align-items: center;
    transition: 0.1s all;
}

.Imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    margin-top: 60px;
}

img:hover{
    transform: scale(1.1);
    transition: 0.02;
    cursor: pointer;
}