*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: antiquewhite;
    background-image: url(Página2\ mario.jpg);
    text-align: center;  
    align-items: center; 
    font-family: 'Josefin Sans', sans-serif;
}

header{
    font-size: 30px;
    background-image: url(abertura.jpg);
    color: aliceblue;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
}

h1{
    color: aliceblue;
    font-size: 70px;
}

img{
    width: 250px;
    border-radius: 10px;
    align-items: center;
    transition: 0.1s all;
}

.Imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    margin-top: 60px;
}

img:hover{
    transform: scale(1.080);
    transition: 0.02;
    cursor: pointer;
}